.classesGrid {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

#sub1 {
    background-color: rgba(var(--c3), 0.5);
    border-radius: 4px;
    padding: 1%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    margin-right: 0.5%;
}

#sub2 {
    overflow-y: auto;
    background-color: rgba(var(--c3), 0.2);
    border-radius: 4px;
    height: 100%;
    display: grid;
    grid-template-rows: 33.333% 33.3333% 33.333%;    
}

.classPane {
    width: 22%;
    height: 80%;
    padding: 1%;
    display: inline-block;
    background-color: rgb(var(--c3));
    margin: 1%;
    border-radius: 5px;
    transition: 0.25s ease;
    transform-origin: center;
    user-select: none;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    line-height: 1;
    container-type: inline-size;
}

.classPane.addClass {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
}

.classPane:hover {
    scale: 1.04;
}

.classPane.addClass:active {
    scale: 0.95;
}

.classPlusSign {
    color: rgb(var(--c1));
    font-size: 30cqi;
    height: fit-content;
    margin-right: 6%;
}

.addClassText {
    color: rgb(var(--c1));
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1%;
    font-size: clamp(5px, 3vmin, 33px);
}

.classHeader {
    font-size: clamp(4px, 7cqi, 33px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    display: flex;
    margin-bottom: 1%;
}

.classSubHeader {
    font-size: clamp(2px, 5.2cqi, 34px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.buttonsTrack {
    width: 98%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.subTrack {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

h2 {
    all: unset;
}

.breakerBar {
    border-style: solid;
    color: var(--c3);
}

.trackButton {
    width: 33%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    border-radius: 5px;
    font-size: clamp(3px, 1.5vmin, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    container-type: inline-size;
    padding: 0.5%;
}

.trackButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    scale: 1.05;
}

.trackButton:active {
    background-color: rgba(0, 0, 0, 0.6);
    scale: 0.95;
}