.linksGrid {
    display: grid;
    grid-template-columns: 0.175fr 1fr;
}

.linkPart {
    background-color: rgba(var(--c3), 0.2);
    margin: 1vmin;
    border-radius: 8px;
}

.sectorB {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}

.classSectorHeader {
    width: 100%;
    padding: 1%;
    font-size: clamp(2px, 1.6cqi, 33px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    color: rgb(var(--c3));
    display: flex;
}

.headersTab {
    overflow-x: hidden;
    overflow-y: auto;
}

.linksHeader {
    overflow: hidden;
    font-size: clamp(7px, 2vmin, 24px);
    font-weight: 400;
    color: rgb(var(--c3));
    padding: 2%;
    border-radius: 8px;
    margin: 2%;
    margin-left: 1%;
    width: fit-content;
    cursor: pointer;
    transition: 0.25s ease;
    transform-origin: left;
    position: relative;
    max-width: 85%;
}

.linksHeader.usable:hover {
    scale: 1.05;
}

.linksHeader.usable:active {
    filter: brightness(1.4);
}

.traditionalLinkHeader {
    background-color: rgba(var(--c2), 0.2);
    color: rgb(var(--c3));
    overflow-wrap: break-word;
    word-break: break-all;
}

.traditionalLinkHeader:hover {
    background-color: rgba(var(--c2), 0.4);
    scale: 1.05;
}

.traditionalLinkHeader:active {
    background-color: rgba(var(--c2), 0.6);
    filter: brightness(1.4);
}

.removalButton {
    background-color: rgba(var(--c1), 0.4);
    color: rgb(var(--c3));
    border-radius: 5px;
    display: inline-block;
    padding: 0.5%;
    font-size: clamp(12px, 2vmin, 32px);
    width: 0.4vmin;
    height: 0.4vmin;
    min-width: fit-content;
    min-height: fit-content;
    margin-left: 3%;
    cursor: pointer;
}

.removalButton:hover {
    background-color: rgba(var(--c2), 0.6);
}

.addHeaderButton {
    overflow: hidden;
    font-size: clamp(7px, 2vmin, 24px);
    font-weight: 400;
    color: rgb(var(--c3));
    padding: 2%;
    border-radius: 8px;
    margin: 2%;
    margin-left: 1%;
    width: fit-content;
    cursor: pointer;
    transition: 0.25s ease;
    transform-origin: left;
    position: relative;
    background-color: rgba(var(--c2), 0.2);
}

.addHeaderButton:hover {
    background-color: rgba(var(--c2), 0.4);
    scale: 1.05;
}

.addHeaderButton:active {
    background-color: rgba(var(--c2), 0.6);
    scale: 0.95;
}

.sectionBigHeader {
    font-size: clamp(12px, 2vw, 60px);
    margin: 0px;
    margin-left: 0.5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
}

.linkClickable {
    cursor: pointer;
    transition: 0.25s ease;
    background-color: rgba(var(--c2), 0.2);
    width: fit-content;
    display: inline-block;
    font-size: clamp(12px, 2.25vmin, 32px);
    margin: 0.2%;
    border-radius: 5px;
    padding: 0.2%;
}

.controlTrack {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}